{{extend 'layout_static.html'}}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Inicio</li>
  </ol>
</nav>
<br><br>

<div class="text-center">
      <h1 class="display-3 font-weight-bold" style="font-size: 70px;">Incentivos <span style="color:#ed1c24;">PDVSA</span></h1>
      <p>Sistema centralizado para la administración y entrega de incentivos al talento humano.</p>
</div>
<br><br>
<section id="modulos" class="container my-5" style="height: 1px;">
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card card-incentivo h-100 p-4">
                <div class="icon-box"><i class="fas fa-truck-loading"></i></div>
                <h3>Control almacenes</h3>
                <p class="text-muted">Control de los beneficios disponibles en almacén.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card card-incentivo h-100 p-4">
                <div class="icon-box"><i class="fas fa-users"></i></div>
                <h3>Beneficiarios</h3>
                <p class="text-muted">Gestión de datos del personal y asignación de incentivos por departamento.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card card-incentivo h-100 p-4">
                <div class="icon-box"><i class="fas fa-clipboard-check"></i></div>
                <h3>Pedidos</h3>
                <p class="text-muted">Registro y trazabilidad de la logística de distribución a nivel nacional.</p>
            </div>
        </div>
    </div>
</section>



