{{extend 'layout_login.html'}}
<br><br><br>
<section class="shadow" style="border-radius: 15px; box-shadow: 0 0 5px #a1a1a1;">
  <div id="web2py_user_form" class="container flex" style="border-radius: 15px 15px 0px 0px;">
    <img src="{{=URL('static','images/nombre_del_nombre.png')}}" class="mt-4 mx-auto img-fluid" style="width: 220px;">
  </div>
  <div class="row mx-auto justify-content-center">
    <div id="web2py_user_form" class="col-lg-12 text-center" >
      <h6 class="mt-3" style="font-weight: 900; color: #444444;"></h6>
      {{=form.custom.begin}}
      <div class="row">
        <div class="col-12 p-2 position-relative">
          <i class="bi bi-person-fill icon-input" style="font-size: 19px;"></i>
          {{=form.custom.widget.email}}
          <span class="help-block"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-12 p-2 position-relative">
          <i class="bi bi-lock-fill icon-input" style="font-size: 19px;"></i>
          {{=form.custom.widget.password}}
          <span class="help-block"></span>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-1"></div>
        <div class="col-1 d-flex align-items-center">
          <input type="checkbox" class="form-check-input" id="Recordar" style="box-shadow: none; border-color: #444444; border-radius: 25px; margin-right: 5px;">
          <label for="Recordar" class="login-footer">Recordar</label>
        </div>
        <div class="col-2"></div>
        
        {{if request.args(0)=='login' and not 'retrieve_password' in auth.settings.actions_disabled:}}
        <div class="col-8 text-end">
          <a href="#" class="login-footer">Olvidé mi Contraseña</a>
        </div>
        {{pass}}
        {{if request.args(0)=='login' and not 'register' in auth.settings.actions_disabled:}}
        <div class="col-8 text-end">
          <a href="{{=URL('user/register')}}">{{=T('Register')}}</a>
        </div>
        {{pass}}
      </div>

      <!-- errores -->
      {{if form.errors:}}
        <div class="alert alert-danger">
          <ul>
            {{for campo, error in form.errors.items():}}
              <li><strong>{{=campo}}:</strong> {{=error}}</li>
            {{pass}}
          </ul>
        </div>
      {{pass}}

      <div class="mt-2 p-2 text-center">
        <div class="mt-2 p-2 text-center">
          <button type="submit" class="btn btn-small border-0 my-3" style="background-color:var(--gris2);color:#FFF;border-radius:16px;width:65%;font-weight:700">INGRESAR</button>
        </div>  <!-- o tu botón, pero respetando name/type -->
      </div>
      {{=form.custom.end}}
    </div>
  </div>
</section>
<br>





{{block page_js}}
<script>
    jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
</script>
{{end page_js}}
