<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">
    <!-- include stylesheets -->
    <link rel="stylesheet" href="{{=URL('static','css/font-awesome.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/all.min.css')}}">
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap4.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/style.css')}}"/>
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
    <link href="{{=URL('static','css/material-icons.css?family=Material+Icons')}}" rel="stylesheet">
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <!-- Favicons -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}{{end}}
    <!-- Estilo personalizado -->
    <!--
    <style>
        body { font-family: 'Roboto', sans-serif; background-color: #f8f9fa; }
        .bg-pdvsa { background-color: #ed1c24; } /* Rojo Institucional */
        .text-pdvsa { color: #ed1c24; }

        .card-incentivo {
            border: none;
            border-radius: 15px;
            transition: transform 0.3s;
            box-shadow: 0 4px 15px rgba(0,0,0,0.1);
        }

        .card-incentivo:hover {
            transform: translateY(-10px);
        }

        .icon-box {
            font-size: 3rem;
            margin-bottom: 20px;
            color: #ed1c24;
        }

        .btn-pdvsa {
            background-color: #ed1c24;
            color: white;
            border-radius: 25px;
            padding: 10px 30px;
            font-weight: bold;
        }

        .btn-pdvsa:hover {
            background-color: #c41212;
            color: white;
        }

        /* Recreando el borde azul del antiguo panel-primary */
        .panel-blue {
            border: 1px solid #007bff;
        }
        
        /* Ajuste para que la tabla no tenga bordes dobles */
        .panel-blue .table {
            margin-bottom: 0;
        }
    </style>
    -->
  </head>
  <body>
    <div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>
    
    <header class="row position-relative">
      <img class="header-h p-0" src="{{=URL('static','images/nueva-cintilla.png')}}" alt="cintillo">
      <img class="nombre-app" src="{{=URL('static','images/nombre_app.png')}}" alt="Nombre de Aplicación">
        <a class="d-flex" href="index.html">
            <img class="imagen-cintillo" src="{{=URL('static','images/Logo_PDVSA.png')}}" alt="logo imagen pdvsa"/>
        </a>
    </header>        

    <div class="wrapper">
        <aside id="sidebar" class="expand">
            <div class="my-3"></div>
            <div class="btn-group mx-3" id="m-usuario">
                <button class="btn btn-blanco1-usr dropdown-toggle d-flex sidebar-item" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="border: 0; border-radius: 9px;">
                    <i class="fas fa-user"></i>
                    <span class="d-none d-md-inline">&nbsp;Usuario</span> <!-- Solo mostrar el nombre de usuario en pantallas más grandes -->
                </button>
                {{if response.menu:}}
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{{=URL('default','user/logout')}}"> <!-- Cambié el href aquí -->
                            <i class="fas fa-door-closed"></i>
                            <span style="font-size: 0.89rem;"> &nbsp; Cerrar Sesión</span> <!-- Tamaño de fuente reducido -->
                        </a>
                    </li>
                </ul>
                {{else:}}
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{{=URL('default','user/login')}}"> <!-- Cambié el href aquí -->
                            <i class="fas fa-door-closed"></i>
                            <span style="font-size: 0.89rem;"> &nbsp; Iniciar Sesión</span> <!-- Tamaño de fuente reducido -->
                        </a>
                    </li>
                </ul>
                {{pass}}
            </div>
            <div class="btn-group dropend">
                <button type="button" class="btn btn-blanco1 dropdown-toggle icon-preview3" data-bs-toggle="dropdown" aria-expanded="false">
                  &nbsp; <i class="fas fa-user"></i>
                </button>
                <ul class="dropdown-menu">
                    
                </ul>
            </div>
            <div class="d-flex mt-5">
                <div class="col-md-3" id="the-avenger">
                    <button class="toggle-btn" type="button">
                        <div class="icon-preview col s6 m3">
                            <i class="fas fa-bars" style="color: var(--rojo1);"></i>
                            <span id="titulo-menu" class="ms-1 fw-bold" style="color:var(--rojo1);"> &nbsp; MENÚ</span>
                        </div>
                    </button>
                </div>
            </div>
            <hr class="mx-3 my-0"style="border:1px solid black;opacity:1;" />
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="{{=URL('default','user/logout')}}"> <!-- Cambié el href aquí -->
                        <i class="fas fa-door-closed"></i>
                        <span style="font-size: 0.89rem;"> &nbsp; Cerrar Sesión</span> <!-- Tamaño de fuente reducido -->
                    </a>
                </li>
            </ul>
            <ul class="sidebar-nav" id="the-hr">
                {{for _item in response.menu or []:}}
                  {{if len(_item)<4 or not _item[3]:}}
                    <li class="nav-item {{if _item[1]:}}active{{pass}}">
                      <a class="nav-link" href="{{=_item[2]}}">{{=_item[0]}}</a>
                    </li>
                  {{else:}}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle dropdown-toggle sidebar-item" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="d-none d-md-inline">{{=_item[0]}}</span>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {{for _subitem in _item[3]:}}
                        <li>
                          <a class="dropdown-item d-flex align-items-center" href="{{=_subitem[2]}}"> <!-- Cambié el href aquí -->
                              <span style="font-size: 0.89rem;">{{=_subitem[0]}}</span> <!-- Tamaño de fuente reducido -->
                          </a>
                        </li>
                        {{pass}}
                      </ul>
                    </li>
                  {{pass}}
                {{pass}}
            </ul>
        </aside>
        <div class="container-fluid" style="height: 100vh;">
            <!-- Main -->
            {{include}}
        </div>
    </div>
    <!-- Masthead ===================================== -->
    
    <!-- Main ========================================= -->
    <!-- Begin page content -->
    

    
    {{block footer}} <!-- this is default footer -->
    <footer class="footer container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright pull-left">{{=T('Copyright')}} &#169; {{=request.now.year}}</div>
          <div id="poweredBy" class="pull-right">
            {{='Realizado por'}}
            <a href="http://www.web2py.com/">GALBA</a>
          </div>
        </div>
      </div>
    </footer>
    {{end}}
    <!-- The javascript =============================== -->
    <!--
    <script src="{{=URL('static','js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap4.js')}}"></script>
    -->
    <script src="{{=URL('static','js/script.js')}}"></script>
    <script src="{{=URL('static','js/bootstrap.bundle.js')}}"></script>
    {{block page_js}}{{end page_js}}
    {{if response.google_analytics_id:}}
    <!-- Analytics ==================================== -->
    <!--
    <script src="{{=URL('static','js/analytics.min.js')}}"></script>
    -->
    <script type="text/javascript">
      analytics.initialize({
      'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
      });
    </script>
    {{pass}}
  </body>
</html>
