{{extend 'layout.html'}}
<!-- 
<a href="{{=URL('default','index')}}" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i> Volver
</a>
-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Entregas</li>
  </ol>
</nav>
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center font-weight-bold">
        <span>Entregas</span>
    </div>
    <div class="card-body">
        <br>
        <div class="d-flex align-items-center">
            {{=form.custom.begin}}
                <b class="mr-2">{{=form.custom.label.cedula}}:</b>
                <div class="mr-2">{{=form.custom.widget.cedula}}</div>
                <br>
                <div>{{=form.custom.submit}}</div>
            {{=form.custom.end}}
        </div>
        <br>
        <div class="table-responsive">
            {{=grid}}
        </div>
        <br>
        
    </div>
    
    <div class="card-footer bg-white text-muted">
        <small>-</small>
    </div>
</div>