{{extend 'layout.html'}}
<!-- 
<a href="{{=URL('default','index')}}" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i> Volver
</a>
-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Entregas</li>
  </ol>
</nav>
<div class="card ">
    <div class="card-header d-flex justify-content-between align-items-center font-weight-bold bg-danger text-white">
        <span>Entregas</span>
    </div>
    <div class="card-body">
        <br>
        <div class="d-flex align-items-center">
            {{=form.custom.begin}}
                <b class="mr-2">{{=form.custom.label.cedula}}:</b>
                <div class="mr-2">{{=form.custom.widget.cedula}}</div>
                <br>
                <div>{{=form.custom.submit}}</div>
            {{=form.custom.end}}
        </div>
        <br>
        <div class="table-responsive">
            {{=grid}}
        </div>
        <br>
        
    </div>
    
    <div class="card-footer bg-white text-muted">
        <small>&nbsp;</small>
    </div>
</div>

<div class="modal fade" id="observaciones_frm" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-60" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Actualizar Observaciones</h4>
      </div>
      <div class="modal-body" id="modal-body-content">
        Cargando...
      </div>
    </div>
  </div>
</div>

<style>
  /* Modal al 60% del ancho de la pantalla */
  #observaciones_frm .modal-dialog.modal-60 {
    max-width: 60vw;
  }
</style>

<script>
function abrirModal(id) {
    // Cargamos el formulario mediante el componente web2py_component
    web2py_component("{{=URL('confirmar_pedido_entregado')}}/" + id, "modal-body-content");
    // Mostramos el modal
    jQuery('#observaciones_frm').modal('show');
}
</script>