{{extend 'layout.html'}}
<!--
<a href="{{=URL('default','index')}}" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i> Volver
</a>
-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Reportes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Operativos</li>
  </ol>
</nav>
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center bg-danger text-white font-weight-bold">
        <span>Operativos</span>
    </div>
    <div class="card-body">
        <br>
        <div class="d-flex align-items-center">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Entes</th>
                        <th>Negocios</th>
                        <th>Regiones</th>
                        <th>Estados</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="card-body">
                                <table class="table-bordered">
                                    <tbody>
                                        {{for ente in entes:}}
                                        <tr>
                                            <td>{{=db.operativo(ente.pedido_operativo.id_operativo).nombre}}</td>
                                            <td>{{=db.ente(ente.auth_user.id_ente).nombre}}</td>
                                            <td>{{=XML(get_badge_estatus(ente.pedido_operativo.estatus))}}</td>
                                            <td align="right">{{=ente._extra['COUNT("auth_user"."id")']}}</td>
                                        </tr>
                                        {{pass}}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td> 
                            <div class="card-body">
                                <table class="table-bordered">
                                    <tbody>
                                        {{for negocio in negocios:}}
                                        <tr>
                                            <td>{{=db.operativo(negocio.pedido_operativo.id_operativo).nombre}}</td>
                                            <td>{{=db.negocio(negocio.auth_user.id_negocio).nombre}}</td>
                                            <td>{{=XML(get_badge_estatus(negocio.pedido_operativo.estatus))}}</td>
                                            <td align="right">{{=negocio._extra['COUNT("auth_user"."id")']}}</td>
                                        </tr>
                                        {{pass}}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td>
                            <div class="card-body">
                                <table class="table-bordered">
                                    <tbody>
                                        {{for estado in estados:}}
                                        <tr>
                                            <td>{{=db.operativo(estado.pedido_operativo.id_operativo).nombre}}</td>
                                            <td>{{=db.estado(estado.auth_user.id_estado).nombre}}</td>
                                            <td>{{=XML(get_badge_estatus(estado.pedido_operativo.estatus))}}</td>
                                            <td align="right">{{=estado._extra['COUNT("auth_user"."id")']}}</td>
                                        </tr>
                                        {{pass}}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="card-footer bg-white text-muted">
        <small>&nbsp;</small>
    </div>
</div>
<br><br>
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center bg-danger text-white font-weight-bold">
        <span>Detalle operativos</span>
    </div>
    <div class="card-body">
        <br>
        <div class="d-flex align-items-center">
            {{=grid}}
        </div>
    </div>
    
    <div class="card-footer bg-white text-muted">
        <small>&nbsp;</small>
    </div>
</div>