{{extend 'layout.html'}}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Administración</a></li>
    <li class="breadcrumb-item"><a href="{{=URL('administracion', 'inventario')}}">Inventario</a></li>
    <li class="breadcrumb-item active" aria-current="page">Inventario Entrada</li>
  </ol>
</nav>


<div class="card ">
    <div class="card-header d-flex justify-content-between align-items-center font-weight-bold bg-danger text-white">
        <span>Entrada</span>
    </div>
    <div class="card-body">
      <br>
      <p>{{=form}}</p>
    </div>

    <div class="card-footer bg-white text-muted">
        <small>&nbsp;</small>
    </div>
</div>