{{extend 'layout.html'}}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Mis Datos</li>
  </ol>
</nav>
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center bg-danger text-white font-weight-bold">
        <span>Información Laboral</span>
    </div>
    <div class="card-body">
        <br><br>
        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <tbody>
                    <tr>
                        <td><b>Nombre:</b> {{=usuario_data.first_name}} {{=usuario_data.last_name}}</td>
                        <td><b>Cédula:</b> {{=usuario_data.cedula}}</td>
                        <td><b>Ente:</b> {{=db.ente(usuario_data.id_ente).nombre or '-'}} </td>
                        <td><b>Negocio / Filial:</b> {{=db.negocio(usuario_data.id_negocio).nombre or '-'}}</td>
                    </tr>
                    <tr>
                        <td><b>Email:</b> {{=usuario_data.email or '-'}} </td>
                        <td><b>Estado:</b> {{=db.estado(usuario_data.id_estado).nombre or '-'}} </td>
                        <td><b>Región centro de acopio:</b> {{=db.region(usuario_data.id_region_acopio).nombre or '-'}}</td>
                        <td><b>Teléfono:</b> {{=usuario_data.telefono or '-'}}</td>
                    </tr>
                    <tr>
                        <td><b>Estatus:</b> <span class="badge badge-{{= "success" if usuario_data.is_active else "danger"}}">{{= "Activo" if usuario_data.is_active else "Inactivo"}}</span></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
    </div>
    
    <div class="card-footer bg-white text-muted">
        <small>&nbsp;</small>
    </div>
</div>