{{extend 'layout.html'}}
<a href="{{=URL('default','index')}}" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i> Volver
</a>
<br><br>
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center font-weight-bold">
        <span>Trabajadores</span>
    </div>
    <div class="card-body">
        <br><br>
        <div class="table-responsive">
            {{=grid}}
        </div>
        <br>
    </div>
    
    <div class="card-footer bg-white text-muted">
        <small>-</small>
    </div>
</div>


