{{extend 'layout.html'}}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Administración</a></li>
    <li class="breadcrumb-item active" aria-current="page">Trabajadores</li>
  </ol>
</nav>
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center bg-danger text-white font-weight-bold">
        <span>Cargar trabajadores</span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            {{=form.custom.begin}}
                <b class="mr-2">{{=form.custom.label.archivo_excel}}:</b>
                <div class="mr-2">{{=form.custom.widget.archivo_excel}}</div>
                <br>
                <div>{{=form.custom.submit}}</div>
            {{=form.custom.end}}
        </div>
        <br>
    </div>
    
    <div class="card-footer bg-white text-muted">
        <small>&nbsp;</small>
    </div>
</div>
<br><br>
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center bg-danger text-white font-weight-bold">
        <span>Trabajadores</span>
    </div>
    <div class="card-body">
        <br><br>
        <div class="table-responsive">
            {{=grid}}
        </div>
        <br>
    </div>
    
    <div class="card-footer bg-white text-muted">
        <small>&nbsp;</small>
    </div>
</div>


